<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369896733520-rnj17ovv2m0mi2rth82k9vljt67sggid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369896733520-rnj17ovv2m0mi2rth82k9vljt67sggid</string>
	<key>API_KEY</key>
	<string>AIzaSyCTdXZPVIiYppM2QaaslBmcXzPpilDIfGo</string>
	<key>GCM_SENDER_ID</key>
	<string>369896733520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.namasteYoga</string>
	<key>PROJECT_ID</key>
	<string>namaste-yoga-ab326</string>
	<key>STORAGE_BUCKET</key>
	<string>namaste-yoga-ab326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369896733520:ios:b5bed9ba10ebd500caca55</string>
</dict>
</plist>